{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}

<div class="min-h-screen flex items-center justify-center">
    <h1 class="absolute left-4 top-4 bg-gradient-to-r from-blue-500 to-yellow-500 bg-clip-text text-2xl font-extrabold text-transparent">Smart Practice Hub</h1>

    <a href="{% url 'landing' %}"
        class="absolute right-4 top-4 inline-flex h-9 w-9 items-center justify-center rounded-full bg-white/80 ring-1 ring-gray-300 backdrop-blur hover:bg-white focus:outline-none focus:ring-2 focus:ring-blue-500"
        aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" class="h-5 w-5" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </a>

    <div class="flex flex-col w-full max-w-lg">

        <div class="flex flex-col items-center">
            <h1 class="bg-gradient-to-r from-blue-500 to-yellow-500 bg-clip-text text-3xl font-bold text-transparent">Join Smart Practice Hub</h1>
            <h2 class="text-md mt-2 text-gray-600">Create your account and start learning today</h2>
        </div>

        <form method="POST" class="flex flex-col w-full mt-8">
            {% csrf_token %}

            <div class="w-full">
                <label for="{{ form.email.id_for_label }}" class="block">Email</label>
                <input type="text" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" class="w-full rounded-md px-2.5 py-2 outline-none ring-1 ring-inset ring-gray-300 transition-all focus:ring-2 focus:ring-blue-600" required>
            </div>

            <div class="mt-2">
                <label for="{{ form.first_name.id_for_label }}" class="block">First Name</label>
                <input type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.name }}" class="w-full rounded-md px-2.5 py-2 outline-none ring-1 ring-inset ring-gray-300 transition-all focus:ring-2 focus:ring-blue-600" required>
            </div>

            <div class="mt-2">
                <label for="{{ form.last_name.id_for_label }}" class="block">Last Name</label>
                <input type="text" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.name }}" class="w-full rounded-md px-2.5 py-2 outline-none ring-1 ring-inset ring-gray-300 transition-all focus:ring-2 focus:ring-blue-600" required>
            </div>
        
            <div class="mt-2">
                <label for="{{ form.password1.id_for_label }}" class="block">Password</label>
                <input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" class="w-full rounded-md px-2.5 py-2 outline-none ring-1 ring-inset ring-gray-300 transition-all focus:ring-2 focus:ring-blue-600" required>
            </div>

            <div class="mt-2">
                <label for="{{ form.password2.id_for_label }}" class="block">Confirm Password</label>
                <input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}" class="w-full rounded-md px-2.5 py-2 outline-none ring-1 ring-inset ring-gray-300 transition-all focus:ring-2 focus:ring-blue-600" required>
            </div>

            <div class="mt-2">
                <span class="block">Role</span>
                <div class="flex gap-x-2 mt-2">
                    {% for value, label in form.role.field.choices %}
                        <label class="w-full">
                            <input type="radio" name="{{ form.role.name }}" value="{{ value }}" class="peer sr-only"
                            {% if form.role.value == value %}
                            checked
                            {% endif %}
                            >
                            <div
                                class="px-3 py-2 rounded-md border text-center cursor-pointer select-none
                                    transition
                                    border-gray-300 bg-white text-gray-700
                                    peer-checked:bg-blue-600 peer-checked:text-white peer-checked:border-blue-600
                                    peer-focus-visible:ring-2 peer-focus-visible:ring-blue-500"
                            >
                                {{ label }}
                            </div>
                        </label>
                    {% endfor %}
                </div>
            </div>
        
            <button type="submit" class="mt-8 rounded-md bg-blue-600 py-2 font-semibold text-white transition-all hover:bg-blue-700 active:bg-blue-800">Sign up</button>
        </form>
        <p class="mt-8 text-center">Already have an account? <a href="{% url 'login' %}" class="text-blue-600">Login</a></p>
    </div>
</div>

{% endblock %}