{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load tailwind_filters %}

{% block content %}

{% if user.is_authenticated %}

<div class="flex min-h-screen flex-col items-center">
    <header class="flex h-16 w-full justify-center ring-1 ring-gray-300">
        <nav class="mx-auto w-full max-w-7xl flex items-center justify-between">
            <h1
                class="bg-gradient-to-r from-blue-500 to-yellow-500 bg-clip-text text-2xl font-extrabold text-transparent">
                Smart Practice Hub
            </h1>
            <div class="flex items-center justify-between gap-x-4">
                <h2 class="text-md">Welcome <span class="font-extrabold bg-gradient-to-r from-blue-500 to-yellow-500 bg-clip-text text-transparent">{{ user.first_name }}</span></h2>
                <div class="h-6 border-l border-gray-300"></div>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit"
                        class="cursor-pointer rounded-md px-6 py-2 transition-colors hover:bg-blue-500 hover:text-white">Log
                        out</button>
                </form>
            </div>
        </nav>
    </header>
    <main class="flex w-full flex-1 flex-col items-center">

    </main>
    <footer class="flex h-16 w-full items-center justify-center bg-sky-950">
        <p class="text-sm text-gray-300">
            © 2025 Smart Practice Hub. All rights reserved.
        </p>
    </footer>
</div>

{% else %}

<div class="flex min-h-screen flex-col items-center">
    <header class="flex h-16 w-full justify-center ring-1 ring-gray-300">
        <nav class="mx-auto w-full max-w-7xl flex items-center justify-between">
            <h1
                class="bg-gradient-to-r from-blue-500 to-yellow-500 bg-clip-text text-2xl font-extrabold text-transparent">
                Smart Practice Hub
            </h1>
            <div class="flex items-center justify-between gap-x-4">
                <a href="{% url 'home' %}"
                    class="cursor-pointer rounded-md px-6 py-2 transition-colors hover:bg-blue-500 hover:text-white">
                    Home
                </a>
                <div class="h-6 border-l border-gray-300"></div>
                <a href="{% url 'login' %}"
                    class="cursor-pointer rounded-md px-6 py-2 transition-colors hover:bg-blue-500 hover:text-white">
                    Login
                </a>
                <a href="{% url 'signup' %}"
                    class="cursor-pointer rounded-md px-6 py-2 transition-colors hover:bg-blue-500 hover:text-white">
                    Sign Up
                </a>
            </div>
        </nav>
    </header>
    <main class="flex w-full flex-1 flex-col items-center">
        <div class="mx-auto w-full max-w-7xl flex justify-between">
            <div class="flex w-full flex-col">
                <h1 class="mt-16 text-7xl font-bold">
                    Master
                    <p class="bg-gradient-to-r from-blue-500 to-yellow-500 bg-clip-text text-transparent">
                        Math & Science
                    </p>
                    with Smart Practice
                </h1>
                <h2 class="mt-8 text-2xl text-gray-600">
                    A comprehensive problem bank designed for teachers and students.
                    Create, practice, and track progress with intelligent analytics.
                </h2>
                <div class="mt-8">
                    <button
                        class="cursor-pointer rounded-md bg-blue-500 px-12 py-4 text-white transition-colors hover:bg-blue-400">
                        Get Started
                    </button>
                </div>
            </div>
            <div class="flex w-full"></div>
        </div>
    </main>
    <footer class="flex h-16 w-full items-center justify-center bg-sky-950">
        <p class="text-sm text-gray-300">
            © 2025 Smart Practice Hub. All rights reserved.
        </p>
    </footer>
</div>

{% endif %}

{% endblock %}